@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Neucha&display=swap");

--primary-grey: #393e46;
--primary-green: #50d890;
--primary-red: #f05454;
--primary-white: #f7f7f7;
--primary-pink: #ff5c8d;
--primary-yellow: #ffd523;
--primary-black-hover: #1a1a1a;

body {
  backgroundcolor: "black";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
